<section class="content" style="background: #fff; min-height: 90vh;">
    <section class="pt-5 pt-md-7">

        <div class="container">
            <div class="form-input">
                <input [(ngModel)]="searchMedicament" name="name" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='fa fa-search'></i></button>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-13 order-md-2">
                    <div class="row">
                        <div *ngFor="let medicament of medicaments " class="col-md-4 col-sm-6 col-12 mt-4">
                            <div class="product" (click)="getMedicament(medicament._id)" data-bs-toggle="modal"
                                data-bs-target="#viewMedicament">

                                <div class="product-img">
                                    <img src="../../../../assets/pharmacy/assets/img/principal.png" class="" alt="">
                                </div>


                                <div class="product-info">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h3>
                                        {{medicament.name}}
                                    </h3>
                                    <div class="product-value">
                                        <div class="d-flex">
                                            <small class="regular-price">{{medicament.description}}</small>
                                        </div>
                                        <div class="current-price">Q.{{medicament.price.toFixed(2)}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 *ngIf="notFound === true" class="text-center">Medicaments Not Found</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" style="z-index: 1100;" id="viewMedicament" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="addContainer">
                    <div class="contact-details">
                        <div class="modalHeader">
                            <div class="editRowModal">
                                <div *ngIf="medicamentView" class="modalHeader clearfix">
                                    <div class="modal-about contact-header">
                                        <div class="contact-details-img">
                                            <img src="../../../../assets/images/user/usrbig2.jpg" alt="avatar" />
                                        </div>
                                        <div class="contact-details-heading">
                                            <div class="contact-details-name mb-2">
                                                {{ medicamentView.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <hr />
                        <div *ngIf="medicamentView" class="descripcion">
                            <div class="count-container">
                                <div class="box">
                                    <h3>Nombre:</h3>
                                </div>

                                <div class="box">
                                    <p>{{ medicamentView.name }}</p>
                                </div>

                                <div class="box">
                                    <h3>Descripción:</h3>
                                </div>

                                <div class="box">
                                    <p>{{ medicamentView.description }}</p>
                                </div>

                                <div class="box">
                                    <h3>Tipo de Medicamento</h3>
                                </div>

                                <div class="box">
                                    <p>{{ medicamentView.typeMedicament.name }}</p>
                                </div>

                                <div class="box">
                                    <h3>Precio</h3>
                                </div>

                                <div class="box">
                                    <p>{{ medicamentView.price }}</p>
                                </div>

                                <div class="box">
                                    <h3>Disponibilidad</h3>
                                </div>

                                <div class="box">
                                    <p *ngIf="medicamentView.availibility === true">Disponible</p>
                                    <p *ngIf="medicamentView.availibility === false">No Disponible</p>
                                </div>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>