
.product-brand{
    margin: 20px 0;
    .product-img {
        height: 120px;
        max-width: 120px;
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: $light;
        padding: 20px;
        border-radius: 5px;
        display: block;
        margin: 10px auto;

        img {
            max-height: 80%;
            max-width: 80%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            margin-bottom: 0;
            transition: all 0.85s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    .product-info {
        text-align: center;
        display: block;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        font-family: $heading-font;
        color: $dark;
        margin-top: 10px;

        &:hover {
            text-decoration: none;
        }
    }
}