<section class="content">
  <h1 style="margin-top: 4rem">
    &nbsp;<i class="fa-solid fa-vial-virus"></i>
    Tipo de Laboratorio
  </h1>
  <hr />

  <div *ngIf="!showTableTypeLaboratory" class="row d-flex justify-content-center align-items-center">
    <div class="form">
      <i class="fa fa-search ms-2"></i>
      <input [(ngModel)]="searchTypeLaboratory" type="text" class="form-control form-input" placeholder="Search User...">
    </div>
  </div>

  <div class="text-center mt-2 mb-2">
    <button type="button" data-bs-toggle="modal" data-bs-target="#addTypeLaboratory"
      class="ms-3 btn btn-event btn-success">
      Agregar Tipo de Laboratorio
      <span class="btn-icon-end"><i class="fa-solid fa-vial-virus"></i> </span>
    </button>
    <button *ngIf="!showTableTypeLaboratory" (click)="showTable()" type="button"
      class="ms-3 btn btn-event btn-secondary">
      Tabla de Tipos de Laboratorio
      <span class="btn-icon-end"><i class="fas fa-table"></i> </span>
    </button>
    <button *ngIf="showTableTypeLaboratory" (click)="showTable(); cleanTable()" type="button"
      class="ms-3 btn btn-event btn-secondary">
      Ver en Cartas
      <span class="btn-icon-end"><i class="fas fa-arrow-left"></i> </span>
    </button>
    <button routerLink="/admin/home" type="button" class="ms-3 btn btn-event btn-dark">
      Inicio
      <span class="btn-icon-end"><i class="fas fa-home"></i> </span>
    </button>
  </div>
  <hr />

  <!--CARDS DE USERS-->
  <div *ngIf="!showTableTypeLaboratory">
    <div class="container">
      <div class="products-container">
        <div *ngFor="let typeLaboratory of typesLaboratory | searchTypeLaboratoryBar: searchTypeMedicament"
          class="product" data-name="p-1">
          <h5 class="card-title">{{ typeLaboratory.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ typeLaboratory.description }}</h6>
          <button (click)="getTypeLaboratory(typeLaboratory._id)" class="btn btn-success m-3" data-bs-toggle="modal"
            data-bs-target="#updateTypeLaboratory" class="btn btn-warning m-2">
            <i class="fa fa-pencil" aria-hidden="true"> </i> Editar
          </button>
          <button (click)="deleteTypeLaboratory(typeLaboratory._id)" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Elimar
          </button>
          <button (click)="getTypeLaboratory(typeLaboratory._id)" data-bs-toggle="modal"
            data-bs-target="#viewTypeLaboratory" class="btn btn-secondary ms-2">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Ver
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--View Type Laboratory-->
  <div>
    <div class="modal fade" id="viewTypeLaboratory" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="addContainer">
            <div class="contact-details">
              <div class="modalHeader">
                <div class="editRowModal">
                  <div *ngIf="typeLaboratoryView" class="modalHeader clearfix">
                    <div class="modal-about contact-header">
                      <div class="contact-details-img">
                        <img src="../../../../assets/images/user/usrbig2.jpg" alt="avatar" />
                      </div>
                      <div class="contact-details-heading">
                        <div class="contact-details-name mb-2">
                          {{ typeLaboratoryView.name }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <hr />
              <div *ngIf="typeLaboratoryView" class="descripcion">
                <div class="count-container">
                  <div class="box">
                    <h3>Nombre:</h3>
                  </div>

                  <div class="box">
                    <p>{{ typeLaboratoryView.name }}</p>
                  </div>

                  <div class="box">
                    <h3>Descripción:</h3>
                  </div>

                  <div class="box">
                    <p>{{ typeLaboratoryView.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ADD Type Laboratory-->
    <div class="modal fade" id="addTypeLaboratory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
              <i class="fa-solid fa-vial-virus"></i>
              &nbsp;Agregar Tipo de Laboratorio
            </h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="saveTypeLaboratory(addTypeLaboratoryForm)" #addTypeLaboratoryForm="ngForm">
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input autocomplete="off" [(ngModel)]="typeLaboratory.name" name="name" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Descripción</mat-label>
                  <input autocomplete="off" [(ngModel)]="typeLaboratory.description" name="description" matInput />
                </mat-form-field>
              </div>
              <hr />
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                  <i class="fa fa-times-circle" aria-hidden="true"></i> Descartar
                </button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--UPDATE USER-->
  <div class="modal fade" id="updateTypeLaboratory" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-pencil" aria-hidden="true"></i>
            &nbsp;Editar Tipo de Laboratorio
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateTypeLaboratory()" *ngIf="typeLaboratoryUpdate">
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input autocomplete="off" [(ngModel)]="typeLaboratoryUpdate.name" name="name" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input autocomplete="off" [(ngModel)]="typeLaboratoryUpdate.description" name="description" matInput />
              </mat-form-field>
            </div>
            <hr />
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i> Descartar
              </button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--TABLE USERS-->
  <div *ngIf="showTableTypeLaboratory" class="row clearfix mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="materialTableHeader mb-3">
          <div class="row">
            <div class="col-8">
              <ul class="header-buttons-left ml-0">
                <li class="dropdown">
                  <div class="header">
                    <h2>Tabla de Tipos de Laboratorioy</h2>
                  </div>
                </li>
                <li class="dropdown m-l-20">
                  <label for="search-input">
                    <i class="material-icons search-icon">search</i>
                  </label>
                  <input [(ngModel)]="searchTypeLaboratory" placeholder="Search.." type="text" #filter
                    class="browser-default search-field" aria-label="Search box" />
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button (click)="deleteTypeLaboratory(typeLaboratoryDelete._id)" mat-mini-fab color="warn">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>

                <li>
                  <i *ngIf="!typeLaboratoryNameUp && !typeLaboratoryNameDown" class="fa fa-sort-alpha-asc ms-3"
                    (click)="getByUp()"></i>
                  <i *ngIf="!typeLaboratoryNameUp && !typeLaboratoryNameDown" class="fa fa-sort-alpha-desc ms-3"
                    (click)="getByDown()"></i>
                </li>

                <li>
                  <i *ngIf="typeLaboratoryNameUp && !typeLaboratoryNameDown" class="fa fa-sort-alpha-asc ms-3"
                    (click)="getByUp()" style="color: #4a8af9;"></i>
                  <i *ngIf="typeLaboratoryNameUp && !typeLaboratoryNameDown"
                    class="fa fa-sort-alpha-desc text-gray-400 ms-3" (click)="getByDown()"></i>
                </li>

                <li>
                  <i *ngIf="!typeLaboratoryNameUp && typeLaboratoryNameDown"
                    class="fa fa-sort-alpha-asc text-gray-400 ms-3" (click)="getByUp()"></i>
                  <i *ngIf="!typeLaboratoryNameUp && typeLaboratoryNameDown" class="fa fa-sort-alpha-desc ms-3"
                    (click)="getByDown()" style="color: #4a8af9;"></i>
                </li>

                <li>
                  <i *ngIf="typeLaboratoryNameUp || typeLaboratoryNameDown" (click)="cleanTable()"
                    class="fa fa-times-circle closeFilter ms-4" aria-hidden="true"></i>
                </li>

                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button data-bs-toggle="modal" data-bs-target="#updateTypeLaboratory" mat-mini-fab
                      class="colorUpdate">
                      <mat-icon class="col-white">edit
                      </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <i *ngIf="" (click)="cleanTable()" class="fa fa-times-circle closeFilter" aria-hidden="true">
            </i>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Foto</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let typeLaboratory of typesLaboratory | searchTypeLaboratoryTable: searchTypeLaboratory">
                  <td (click)="getTypeLaboratory(typeLaboratory._id)">
                    <mat-checkbox *ngIf="typeLaboratory.checked==true || controloClick==0" #check="matCheckbox"
                      (click)="showButtonActions(typeLaboratory._id, check); getTypeLaboratory(typeLaboratory._id)"
                      class="example-margin" color="primary">
                    </mat-checkbox>
                    <mat-checkbox disabled="" *ngIf="typeLaboratory.checked==false" class="example-margin"
                      color="primary">
                    </mat-checkbox>
                    {{ typesLaboratory.indexOf(typeLaboratory) + 1 }}
                  </td>
                  <td (click)="getTypeLaboratory(typeLaboratory._id)" class="table-img">
                    <img src="assets/images/user/user8.jpg" alt="" />
                  </td>
                  <td (click)="getTypeLaboratory(typeLaboratory._id)" data-bs-toggle="modal"
                    data-bs-target="#viewTypeLaboratory">{{ typeLaboratory.name }}</td>
                  <td (click)="getTypeLaboratory(typeLaboratory._id)" data-bs-toggle="modal"
                    data-bs-target="#viewTypeLaboratory">{{ typeLaboratory.description }}</td>
                </tr>
                <tr rowspan="9" *ngIf="notFound === true">
                  <td colspan="9" class="text-center">Tipo de Laboratorio no encontrado</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="notFound === true && showTableTypeLaboratory === false" class="text-center">
    Tipo de Laboratorio no encontrado
  </h1>
</section>
