
    <!-- header section ends -->

    <!-- home section starts  -->

<section class="home" id="home">

    <div class="image">
        <img src="../../../../assets/images/landingPage/principals/home-img.svg" alt="">
    </div>

    <div class="content">
        <h3>Mantente seguro, Mantente sano</h3>
        <p>Te damos la bienvenida a Online Doctor tu Hospital Web de confianza, nuestro principal objetivo es velar por tu salud y bienestar.</p>
        <p>Tu salud a tan solo un clic.</p>
        <a href="#" class="btn"> Contactanos <span class="fas fa-chevron-right"></span> </a>
    </div>

</section>

<!-- home section ends -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>140+</h3>
        <p>Medicos Trabajando</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>Pacientes Satisfechos</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>Servicios Hospitalarios</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>80+</h3>
        <p>Hospitales Disponibles</p>
    </div>

</section>

<!-- icons section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> Nuestros <span>Servicios</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-notes-medical"></i>
            <h3>Chequeos Gratuitos</h3>
            <p>Los chequeos pueden ayudar a descubrir enfermedades o afecciones anticipadamente, cuando son más fáciles de tratar.</p>
            <a href="#" class="btn"> Leer más <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-ambulance"></i>
            <h3>Ambulancia 24/7</h3>
            <p>Estamos siempre aquí para ti. Atendemos cualquier urgencia y ofrecemos servicio de ambulancia los 365 días del año las 24 horas.</p>
            <a href="#" class="btn"> Leer más <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-user-md"></i>
            <h3>Medicos Profesionales</h3>
            <p>Los profesionales de la medicina ponen a disposición de los usuarios los conocimientos para prevenir y proteger de la enfermedad, y mantener y mejorar el bienestar de nuestros usuarios.</p>
            <a href="#" class="btn"> Leer más <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-pills"></i>
            <h3>Medicamentos</h3>
            <p>Proveemos el bienestar distribuyendo a precios accesibles productos farmacéuticos de alta calidad, que cumplen con las normativas internacionales.</p>
            <a href="#" class="btn"> Leer más <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-procedures"></i>
            <h3>Servicio Hospitalario</h3>
            <p>Actividades asistenciales, diagnósticas, terapéuticas y de rehabilitación y cuidados y prevención de la enfermedad.</p>
            <a href="#" class="btn"> Leer más <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>Cuidado Total</h3>
            <p>Mejorar la calidad de vida de los pacientes y familias que enfrentan los problemas asociados a enfermedades amenazantes para la vida. 
                </p>
            <a href="#" class="btn"> Leer más <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>