<section class="content">
  <h1 style="margin-top: 4rem">
    &nbsp;<i class="fa-solid fa-pills"></i>
    Type Medicament
  </h1>
  <hr />

  <div class="text-center mt-2 mb-2">
    <button type="button" data-bs-toggle="modal" data-bs-target="#addTypeMedicament"
      class="ms-3 btn btn-event btn-success">
      Add Type Medicament
      <span class="btn-icon-end"><i class="fa-solid fa-pills"></i> </span>
    </button>
    <button *ngIf="!showTableTypeMedicament" (click)="showTable()" type="button"
      class="ms-3 btn btn-event btn-secondary">
      Table Type Medicament
      <span class="btn-icon-end"><i class="fas fa-table"></i> </span>
    </button>
    <button *ngIf="showTableTypeMedicament" (click)="showTable(); cleanTable()" type="button"
      class="ms-3 btn btn-event btn-secondary">
      Return Cards
      <span class="btn-icon-end"><i class="fas fa-arrow-left"></i> </span>
    </button>
    <button routerLink="/admin/home" type="button" class="ms-3 btn btn-event btn-dark">
      Back Home
      <span class="btn-icon-end"><i class="fas fa-home"></i> </span>
    </button>
  </div>
  <hr />

  <!--CARDS DE Type Medicament-->
  <div *ngIf="!showTableTypeMedicament">
    <div class="container">
      <div class="products-container">
        <div *ngFor="let typeMedicament of typeMedicaments | searchTypeMedicamentBar: searhTypeMedicament" class="product" data-name="p-1">
          <h5 class="card-title">{{ typeMedicament.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ typeMedicament.description }}</h6>
          <button (click)="getTypeMedicament(typeMedicament._id)" class="btn btn-success m-3" data-bs-toggle="modal"
            data-bs-target="#updateTypeMedicament" class="btn btn-warning m-2">
            <i class="fa fa-pencil" aria-hidden="true"> </i> Update
          </button>
          <button (click)="deleteTypeMedicament(typeMedicament._id)" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          </button>
          <button (click)="getTypeMedicament(typeMedicament._id)" data-bs-toggle="modal"
            data-bs-target="#viewTypeMedicament" class="btn btn-secondary ms-2">
            <i class="fa fa-eye" aria-hidden="true"></i>
            View
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--View Type Medicament-->
  <div>
    <div class="modal fade" id="viewTypeMedicament" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="addContainer">
            <div class="contact-details">
              <div class="modalHeader">
                <div class="editRowModal">
                  <div *ngIf="typeMedicamentView" class="modalHeader clearfix">
                    <div class="modal-about contact-header">
                      <div class="contact-details-img">
                        <img src="../../../../assets/images/user/usrbig2.jpg" alt="avatar" />
                      </div>
                      <div class="contact-details-heading">
                        <div class="contact-details-name mb-2">
                          {{ typeMedicamentView.name }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <hr />
              <div *ngIf="typeMedicamentView" class="descripcion">
                <div class="count-container">
                  <div class="box">
                    <h3>Name:</h3>
                  </div>

                  <div class="box">
                    <p>{{ typeMedicamentView.name }}</p>
                  </div>

                  <div class="box">
                    <h3>Description:</h3>
                  </div>

                  <div class="box">
                    <p>{{ typeMedicamentView.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ADD Type Medicament-->
    <div class="modal fade" id="addTypeMedicament" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
              <i class="fa-solid fa-pills"></i>
              &nbsp;Add Type Medicament
            </h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="saveTypeMedicament(addTypeMedicamentForm)" #addTypeMedicamentForm="ngForm">
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input autocomplete="off" [(ngModel)]="typeMedicament.name" name="name" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Description</mat-label>
                  <input autocomplete="off" [(ngModel)]="typeMedicament.description" name="description" matInput />
                </mat-form-field>
              </div>
              <hr />
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                  <i class="fa fa-times-circle" aria-hidden="true"></i> Discard
                  Save
                </button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Type Medicament
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--UPDATE Type Medicament-->
  <div class="modal fade" id="updateTypeMedicament" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-pencil" aria-hidden="true"></i>
            &nbsp;Update Type Medicament
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateTypeMedicament()" *ngIf="typeMedicamentUpdate">
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input autocomplete="off" [(ngModel)]="typeMedicamentUpdate.name" name="name" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input autocomplete="off" [(ngModel)]="typeMedicamentUpdate.description" name="description" matInput />
              </mat-form-field>
            </div>
            <hr />
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Update
              </button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Update Type Medicament
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--TABLE Type Medicament-->
  <div *ngIf="showTableTypeMedicament" class="row clearfix mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="materialTableHeader mb-3">
          <div class="row">
            <div class="col-8">
              <ul class="header-buttons-left ml-0">
                <li class="dropdown">
                  <div class="header">
                    <h2>Table Type Medicament </h2>
                  </div>
                </li>
                <li class="dropdown m-l-20">
                  <label for="search-input">
                    <i class="material-icons search-icon">search</i>
                  </label>
                  <input [(ngModel)]="searchTypeMedicament" placeholder="Search.." type="text" #filter
                    class="browser-default search-field" aria-label="Search box" />
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button (click)="deleteTypeMedicament(typeMedicamentDelete._id)" mat-mini-fab color="warn">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>

                <li>
                  <i *ngIf="!typeMedicamentNameUp && !typeMedicamentNameDown" class="fa fa-sort-alpha-asc ms-3" (click)="getByUp()"></i>
                  <i *ngIf="!typeMedicamentNameUp && !typeMedicamentNameDown" class="fa fa-sort-alpha-desc ms-3" (click)="getByDown()"></i>
                </li>
            
                <li>
                  <i *ngIf="typeMedicamentNameUp && !typeMedicamentNameDown" class="fa fa-sort-alpha-asc ms-3" (click)="getByUp()" style="color: #4a8af9;"></i>
                  <i *ngIf="typeMedicamentNameUp && !typeMedicamentNameDown" class="fa fa-sort-alpha-desc text-gray-400 ms-3" (click)="getByDown()"></i>
                </li>

                <li>
                  <i *ngIf="!typeMedicamentNameUp && typeMedicamentNameDown" class="fa fa-sort-alpha-asc text-gray-400 ms-3" (click)="getByUp()"></i>
                  <i *ngIf="!typeMedicamentNameUp && typeMedicamentNameDown" class="fa fa-sort-alpha-desc ms-3" (click)="getByDown()" style="color: #4a8af9;"></i>
                </li>

                <li>
                  <i *ngIf="typeMedicamentNameUp || typeMedicamentNameDown" (click)="cleanTable()"
                  class="fa fa-times-circle closeFilter ms-4" aria-hidden="true"></i>
                </li>

                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button data-bs-toggle="modal" data-bs-target="#updateTypeMedicament" mat-mini-fab
                      class="colorUpdate">
                      <mat-icon class="col-white">edit
                      </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <i *ngIf="" (click)="cleanTable()" class="fa fa-times-circle closeFilter" aria-hidden="true">
            </i>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let typeMedicament of typeMedicaments | searchTypetypeMedicamentTable: searchTypeMedicament">
                  <td (click)="getTypeMedicament(typeMedicament._id)">
                    <mat-checkbox *ngIf="typeMedicament.checked==true || controloClick==0" #check="matCheckbox"
                      (click)="showButtonActions(typeMedicament._id, check); getTypeMedicament(typeMedicament._id)"
                      class="example-margin" color="primary">
                    </mat-checkbox>
                    <mat-checkbox disabled="" *ngIf="typeMedicament.checked==false" class="example-margin"
                      color="primary">
                    </mat-checkbox>
                    {{ typeMedicaments.indexOf(typeMedicament) + 1 }}
                  </td>
                  <td (click)="getTypeMedicament(typeMedicament._id)" class="table-img">
                    <img src="assets/images/user/user8.jpg" alt="" />
                  </td>
                  <td (click)="getTypeMedicament(typeMedicament._id)" data-bs-toggle="modal"
                    data-bs-target="#viewTypeMedicament">{{ typeMedicament.name }}</td>
                  <td (click)="getTypeMedicament(typeMedicament._id)" data-bs-toggle="modal"
                    data-bs-target="#viewTypeMedicament">{{ typeMedicament.description }}</td>
                </tr>
                <tr rowspan="9" *ngIf="notFound === true">
                  <td colspan="9" class="text-center">Not Types Medicament Found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="notFound === true && showTableTypeMedicament === false" class="text-center">
    Not Types Medicament Found
  </h1>
</section>