<section class="content">
    <section class="home">
        <div class="container-All-Firts">
            <div class="content-text">
                <div class="firstTitle">
                    <h1>Bienvenido a Online Doctor</h1>
                </div>
                <div class="firstText">
                    <p>
                        Te damos la bienvenida a Online Doctor tu Hospital Web de confianza, nuestro principal objetivo
                        es velar por tu salud y bienestar. Estamos encantados de atenderte.
                        Tu salud a ton solo un clic.
                    </p>
                </div>
            </div>
            <div class="content-Image">
                <img src="assets\images\home-pacient\67.png" alt="Home">
            </div>
        </div>
    </section>

    <section class="service" id="mySkills">
        <h2 class="title-Service">Servicios</h2>
        <hr>
        <div class="box-container">
            <div class="box"><a>
                    <div class="product" routerLink="/doctor/appointment">
                        <img class="" src="assets\images\home-pacient\61.png" alt="">
                        <br>
                        <h3 class="card-title">Reuniones</h3>
                    </div>
                    <p>Visualisa proximas reuniones con todos tus pacientes.</p>
                </a>
            </div>

            <div class="box"><a>
                    <div class="product" routerLink="/doctor/laboratory">
                        <img class="" src="assets\images\home-pacient\65.png" alt="">
                        <br>
                        <h3 class="card-title">Laboratorio Clínico</h3>
                    </div>
                    <p>Observa los resultados de tus laboratorios clínicos.</p>
                </a>
            </div>

            <div class="box"><a>
                    <div class="product" routerLink="/doctor/diary">
                        <img class="" src="assets\images\home-pacient\62.png" alt="">
                        <br>
                        <h3 class="card-title">Agenda Virtual</h3>
                    </div>
                    <p>Observa tu agenda personal con todos tus pendientes.</p>
                </a>
            </div>
            <div class="box"><a>
                    <div class="product" routerLink="/doctor/prescription">
                        <img class="" src="assets\images\home-pacient\66.png" alt="">
                        <br>
                        <h3 class="card-title">Recetas</h3>
                    </div>
                    <p>Observa las recetas de tus citas médicas..</p>
                </a>
            </div>

        </div>
    </section>
</section>