<div class="image-aboutus-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">About Us</h1>
                <p class="image-aboutus-para">Online Doctor Your health just one click away.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="bread-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-4">
            </div>
        </div>
    </div>
  </div>
  <div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="strong">Our History</h1>
                <p>
                  We welcome you to Online Doctor, your trusted Web Hospital, our main objective is 
                      to ensure your health and well-being. We are delighted to serve you.</p>
                <p>We are an organization founded in 2022 by developers and specialized doctors in 
                  Guatemala, interested in forming a society dedicated to professional and 
                  specialized medical practice. As an organization we have set ourselves the goal
                   of creating a Virtual Hospital that will be dedicated to treating all patients 
                   registered in our application quickly and efficiently.</p>
            </div>
            <div class="col-md-6">
              <h1 class="strong">Organization</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dignissimos reprehenderit dolorum rerum similique velit molestiae. Hic enim perferendis, nam excepturi reprehenderit commodi ratione id atque ab fugit? Odit, distinctio..</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, hic vel. Dolores culpa dolor corrupti nihil nostrum rerum sequi, minima, doloremque animi voluptatem aliquid, eum vero temporibus harum laborum quos..</p>
            </div>
         
            <div class="services-container section-container">
              <div class="container">
                  <div class="row">
                      <div class="col services section-description wow fadeIn">
                          <h2 class="text-center">Our Services</h2>
                          <br>
                          <div class="divider-1 wow fadeInUp"><span></span></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 services-box wow fadeInUp">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="services-box-icon">
                                      <i class="fa-solid fa-house-medical"></i>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h3>Pharmacy</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 services-box wow fadeInDown">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="services-box-icon">
                                      <i class="fa-solid fa-microscope"></i>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h3>Clinical Laboratory</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 services-box wow fadeInUp">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="services-box-icon">
                                      <i class="fa-solid fa-calendar-check"></i>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h3>Appointments</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container team-sektion paddingTB60">
    <div class="row">
        <div class="site-heading text-center">
            <h3>Our Team</h3>
            <p>Our team is made up of 7 members who are in charge of maintaining the application. </p>
            <div class="border"></div>
        </div>
    </div>
    <section id="team">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Rodrigo.jpg" alt="">
                      <h5 class="mb-0 mt-4">Rodrigo Cardenas</h5>
                        <p>Developer</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Samuel.jpg" alt="">
                      <h5 class="mb-0 mt-4">Samuel Escobar</h5>
                        <p>Developer</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Mynor.jpg" alt="">
                      <h5 class="mb-0 mt-4">Mynor Lopez</h5>
                        <p>Developer</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Santiago.jpg" alt="">
                      <h5 class="mb-0 mt-4">Santiago Lopez</h5>
                        <p>Developer</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Javier.jpg" alt="">
                      <h5 class="mb-0 mt-4">Javier Linares</h5>
                        <p>Developer</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Ixpatack.jpg" alt="">
                      <h5 class="mb-0 mt-4">Sduard Ixpatac</h5>
                        <p>Developer</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="../../../../assets/images/aboutUs/Juarez.jpg" alt="">
                        <h5 class="mb-0 mt-4">Daniel Juarez</h5>
                        <p>Developer</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
  