<div class="image-aboutus-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">Nosotros</h1>
                <p class="image-aboutus-para">Online Doctor tu salud a un clic de distancia.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="bread-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-4">
            </div>
        </div>
    </div>
  </div>
  <div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="strong">Nuestar Historia</h1>
                <p>
                    Te damos la bienvenida a Online Doctor, tu Web Hospital de confianza, nuestro principal objetivo es velar por tu salud y bienestar. Estamos encantados de servirle.</p>
                <p>Somos una organización fundada en 2022 por desarrolladores y médicos especialistas en Guatemala, interesados en formar una sociedad dedicada a la práctica médica profesional y especializada. Como organización nos hemos propuesto el objetivo de crear un Hospital Virtual que se dedicará a tratar a todos los pacientes registrados en nuestra aplicación de manera rápida y eficiente.</p>
            </div>
            <div class="col-md-6">
              <h1 class="strong">Organizacion</h1>
              <p>
                Somos un sistema organizado con un fin determinado para el control de la salud de las personas latinoamericanas, creados para lograr metas u objetivos de las personas, como facilitar el acceso al centro medico virtual.
              <p>Contamos con diferentes recursos para el desarrollo de nuestros objetivos y el cumplimiento de nuestro servicios.</p>
            </div>
         
            <div class="services-container section-container mt-5">
              <div class="container">
                  <div class="row">
                      <div class="col services section-description wow fadeIn">
                          <h2 class="text-center">Nuestros Servicios</h2>
                          <br>
                          <div class="divider-1 wow fadeInUp"><span></span></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 services-box wow fadeInUp">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="services-box-icon">
                                      <i class="fa-solid fa-house-medical"></i>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h3>Farmacia</h3>
                                  <p>Contamos con farmacia online, en la cual puedes comprar los diferentes medicamentos que te ha recetado el doctor para tu pronta recuperación.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 services-box wow fadeInDown">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="services-box-icon">
                                      <i class="fa-solid fa-microscope"></i>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h3>Laboratorio Clinico</h3>
                                  <p>Nuestro equipo de laboratorio clínico cuenta los instrumentos adecuados para llevar a cabo el descubrimiento de tus enfermedades, así el análisis para eliminar dichos organismos o bacterias presentes.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 services-box wow fadeInUp">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="services-box-icon">
                                      <i class="fa-solid fa-calendar-check"></i>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h3>Citas</h3>
                                  <p>Nuestra cuenta con citas, es decir que podrás agendar una runión virtual o presencial, con cualquier doctor o bien sea con el doctor de tu preferencia.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container team-sektion paddingTB60 mt-1">
    <div class="row">
        <div class="site-heading text-center">
            <h3>Nuestro Equipo</h3>
            <p>Nuestro equipo está formado por 7 miembros que se encargan del mantenimiento de la aplicación. </p>
            <div class="border"></div>
        </div>
    </div>
    <section id="team">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Rodrigo.jpg" alt="">
                      <h5 class="mb-0 mt-4">Rodrigo Cardenas</h5>
                        <p>Desarrollador</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Samuel.jpg" alt="">
                      <h5 class="mb-0 mt-4">Samuel Escobar</h5>
                        <p>Desarrollador</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Mynor.jpg" alt="">
                      <h5 class="mb-0 mt-4">Mynor Lopez</h5>
                        <p>Desarrollador</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Santiago.jpg" alt="">
                      <h5 class="mb-0 mt-4">Santiago Lopez</h5>
                        <p>Desarrollador</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Javier.jpg" alt="">
                      <h5 class="mb-0 mt-4">Javier Linares</h5>
                        <p>Desarrollador</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                      <img src="../../../../assets/images/aboutUs/Ixpatack.jpg" alt="">
                      <h5 class="mb-0 mt-4">Sduard Ixpatac</h5>
                        <p>Desarrollador</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="../../../../assets/images/aboutUs/Juarez.jpg" alt="">
                        <h5 class="mb-0 mt-4">Daniel Juarez</h5>
                        <p>Desarrollador</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
  