<section class="content">
    <h1 style="margin-top: 4rem">
        &nbsp;<i class="fa-solid fa-microscope"></i>
        Laboratory
    </h1>
    <hr />

    <div class="modal fade" id="viewLaboratory" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content" *ngIf="AddlaboratoryView">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-basic-title">
                        <i class="fa-solid fa-microscope"></i>
                        &nbsp;Ver Resultado De Laboratorio
                    </h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="content d-flex" style="justify-content: center; align-items: center; flex-wrap: wrap;">
                        <div class="receta">
                            <h5 style="margin-bottom: 0px; color: rgba(34, 34, 34, 0.7);;">Datos del Paciente</h5>
                            <hr style="margin: 0.7rem 0 !important;">

                            <div class="text-inside m-0">
                                <div class="text-inside">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label style="color: rgba(34, 34, 34, 0.7);">Nombre Completo</mat-label>
                                        <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                            [(ngModel)]="fullNamePacient" name="namePacient" matInput disabled />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="input-group d-flex" style="margin-top: -1rem;">

                                <div class="text-inside">
                                    <mat-form-field class=" m-1" appearance="outline">
                                        <mat-label style="color: rgba(34, 34, 34, 0.7);">Edad</mat-label>
                                        <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                            value="{{AddlaboratoryView.pacient.age}}" name="specifications" matInput
                                            disabled />
                                    </mat-form-field>
                                </div>

                                <div class="text-inside">
                                    <mat-form-field class=" m-2" appearance="outline">
                                        <mat-label style="color: rgba(34, 34, 34, 0.7);">DPI</mat-label>
                                        <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                            value="{{AddlaboratoryView.pacient.DPI}}" name="specifications" matInput
                                            disabled />
                                    </mat-form-field>
                                </div>

                                <div class="text-inside">
                                    <mat-form-field class=" m-2" appearance="outline">
                                        <mat-label style="color: rgba(34, 34, 34, 0.7);">Sexo</mat-label>
                                        <input style="color: rgba(34, 34, 34, 0.7);"
                                            *ngIf="AddlaboratoryView.pacient.gender === 'MALE'" autocomplete="off"
                                            value="Hombre" name="gender" matInput disabled />
                                        <input style="color: rgba(34, 34, 34, 0.7);"
                                            *ngIf="AddlaboratoryView.pacient.gender === 'FEMALE'" autocomplete="off"
                                            value="Mujer" name="gender" matInput disabled />
                                    </mat-form-field>
                                </div>

                            </div>

                            <h5
                                style="margin-bottom: 0px; margin-top: -2.5rem !important ;color: rgba(34, 34, 34, 0.7);;">
                                Datos del Doctor</h5>
                            <hr style="margin: 0.7rem 0 !important;">

                                <div class="text-inside m-0">
                                    <div class="text-inside">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label style="color: rgba(34, 34, 34, 0.7);">Nombre Completo</mat-label>
                                            <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                                [(ngModel)]="fullNameDoctor" name="nameDoctorXD" matInput disabled />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="input-group d-flex" style="margin-top: -1rem;">

                                    <div class="text-inside">
                                        <mat-form-field class="ful m-1" appearance="outline">
                                            <mat-label style="color: rgba(34, 34, 34, 0.7);">Numero de Colegiado
                                            </mat-label>
                                            <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                                value="{{collegiateNumberDoctor}}" name="specifications" matInput
                                                disabled />
                                        </mat-form-field>
                                    </div>

                                    <div class="text-inside">
                                        <mat-form-field class=" m-2" appearance="outline">
                                            <mat-label style="color: rgba(34, 34, 34, 0.7);">Telefono</mat-label>
                                            <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                                value="{{phoneDoctor}}" name="specifications" matInput
                                                disabled />
                                        </mat-form-field>
                                    </div>

                                    <div class="text-inside">
                                        <mat-form-field class=" m-2" appearance="outline">
                                            <mat-label style="color: rgba(34, 34, 34, 0.7);">Correo Electronico
                                            </mat-label>
                                            <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                                value="{{emailDoctor}}" name="specifications" matInput
                                                disabled />
                                        </mat-form-field>
                                    </div>

                                </div>

                            <form>
                                <h5
                                    style="margin-bottom: 0px; margin-top: -2.5rem !important ;color: rgba(34, 34, 34, 0.7);;">
                                    Resultados</h5>
                                <hr style="margin: 0.7rem 0 !important;">

                                <div class="text-inside m-0">
                                    <mat-form-field class=" m-2" appearance="outline">
                                        <mat-label style="color: rgba(34, 34, 34, 0.7);">Resultado
                                        </mat-label>
                                        <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                            value="{{dataLaboratoryComent}}" name="specifications" matInput
                                            disabled />
                                    </mat-form-field>
                                </div>

                                <div class="text-inside m-0">
                                    <mat-form-field class=" m-2" appearance="outline">
                                        <mat-label style="color: rgba(34, 34, 34, 0.7);">Diagnostico
                                        </mat-label>
                                        <input style="color: rgba(34, 34, 34, 0.7);" autocomplete="off"
                                            value="{{dataLaboratoryDiagnostic}}" name="specifications" matInput
                                            disabled />
                                    </mat-form-field>
                                </div>
                                <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i> Cerrar
                                </button>
                            </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--TABLE Laboratories-->
    <div class="row clearfix mt-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="materialTableHeader mb-3">
                    <div class="row">
                        <div class="col-8">
                            <ul class="header-buttons-left ml-0">
                                <li class="dropdown">
                                    <div class="header">
                                        <h2>Tabla de Laboratorios</h2>
                                    </div>
                                </li>
                                <li class="dropdown m-l-20">
                                    <label for="search-input">
                                        <i class="material-icons search-icon">search</i>
                                    </label>
                                    <input [(ngModel)]="searchLaboratory" placeholder="Buscar Laboratorio.." type="text" #filter
                                        class="browser-default search-field" aria-label="Search box" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tableBody">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Paciente</th>
                                    <th>Tipo de Laboratorio</th>
                                    <th>Fecha</th>
                                    <th>Especificaciones</th>
                                    <th>Ver Laboratorio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let laboratory of laboratories | searchLaboratoryTabla:searchLaboratory">
                                    <td class="text-center">
                                        {{ laboratories.indexOf(laboratory) + 1 }}
                                    </td>
                                    <td>{{ laboratory.pacient.name }}</td>
                                    <td>{{ laboratory.typeLaboratory.name }}</td>

                                    <td *ngIf="!laboratory.date">No hay fecha</td>
                                    <td *ngIf="laboratory.date">{{newDate[laboratories.indexOf(laboratory)]}}
                                    </td>
                                    <!-- OTRO Laboratory -->
                                    <td *ngIf="!laboratory.specifications">No hay otras Especificaciones</td>
                                    <td *ngIf="laboratory.specifications" >{{ laboratory.specifications }}</td>

                                    <td *ngIf="laboratory.doctor" class="text-center" (click)="getLaboratoryPacient(laboratory._id)" data-bs-toggle="modal" data-bs-target="#viewLaboratory">
                                        <i style="font-size: 1.5rem; cursor:pointer" class="fas fa-eye me-2"></i>
                                    </td>
                                    <td *ngIf="!laboratory.doctor" class="text-center" >
                                        --Pendiente--
                                    </td>
                                </tr>
                                <tr rowspan="11" *ngIf="notFound === true">
                                  <td colspan="11" class="text-center">Laboratorio no Encontrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
