<section class="content">
    <h1 style="margin-top: 4rem">
        &nbsp;<i class="fa-solid fa-file-prescription"></i>
        Receta
    </h1>
    <hr />

    <div *ngIf="showUsers">
        <div *ngIf="!showTablePrescription" class="row d-flex justify-content-center align-items-center">
            <div class="form">
                <i class="fa fa-search ms-2"></i>
                <input [(ngModel)]="searchPrescription" type="text" class="form-control form-input"
                    placeholder="Buscar Usuario...">
            </div>
        </div>
        <br>
    </div>
    <!--| searchUserBar: searchPrescription para la pipe-->
    <!--CARDS DE USUARIOS-->
    <div *ngIf="showUsers">
        <div class="container">
            <div class="products-container">
                <div *ngFor="let user of users | searchUserBar: searchPrescription" class="product" data-name="p-1">
                    <div *ngIf="user.role === 'PACIENTE'">
                        <h5 class="card-title">{{user.name}} {{user.surname}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
                        <p class="card-text">{{ user.email }} | {{ user.phone }}</p>
                        <button (click)="getUserDoctor(user._id)" class="btn btn-success m-3" data-bs-toggle="modal"
                            data-bs-target="#updateHotel" class="btn btn-warning m-2">
                            <i class="fa fa-pencil" aria-hidden="true">
                            </i> Recetas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-2 mb-2" *ngIf="showButtons">
        <button type="button" data-bs-toggle="modal" data-bs-target="#addPrescription"
            class="ms-3 btn btn-event btn-success" (click)="getMedicaments(); getLaboratories()">
            Agregar Receta
            <span class="btn-icon-end"><i class="fa-solid fa-file-prescription"></i></span>
        </button>
        <button *ngIf="!showTablePrescription" (click)="showTable()" type="button"
            class="ms-3 btn btn-event btn-secondary">
            Tabla de Receta
            <span class="btn-icon-end"><i class="fas fa-table"></i> </span>
        </button>
        <button *ngIf="showTablePrescription" (click)="showTable(); cleanTable()" type="button"
            class="ms-3 btn btn-event btn-secondary">
            Ver por Cartas
            <span class="btn-icon-end"><i class="fas fa-arrow-left"></i> </span>
        </button>
        <button routerLink="/doctor/home" type="button" class="ms-3 btn btn-event btn-dark">
            Inicio
            <span class="btn-icon-end"><i class="fas fa-home"></i> </span>
        </button>
    </div>
    <hr *ngIf="showButtons">

    <!--CARDS DE USERS-->
    <div *ngIf="!showTablePrescription">
        <div class="container">
            <div class="products-container">
                <div *ngFor="let prescription of prescriptions" class="product" data-name="p-1">
                    <h5 class="card-title">{{ prescription.pacient.name }} | {{ prescription.doctor.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ prescription.description }}</h6>
                    <button (click)="getPrescriptionDoctor(prescription._id); getMedicaments(); getLaboratories()"
                        class="btn btn-success m-3" data-bs-toggle="modal" data-bs-target="#updatePrescription"
                        class="btn btn-warning m-2">
                        <i class="fa fa-pencil" aria-hidden="true"> </i> Editar
                    </button>
                    <button (click)="deletePrescriptionDoctor(prescription._id)" class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Eliminar
                    </button>
                    <button (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                        data-bs-target="#viewPrescription" class="btn btn-secondary ms-2">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Ver
                    </button>
                    <br>
                    <button (click)="getMedicaments(); getPrescriptionDoctor(prescription._id);" data-bs-toggle="modal"
                        data-bs-target="#addMedicament" class="btn btn-success ms-2">
                        <i class="fa-solid fa-pills"></i>
                        Medicamentos
                    </button>
                    <button (click)="getLaboratories(); getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                        data-bs-target="#addLaboratory" class="btn btn-success ms-2">
                        <i class="fa-solid fa-vial-virus"></i>
                        Laboratorios
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--View Laboratories-->
    <div>
        <div class="modal fade" id="viewPrescription" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="addContainer">
                        <div class="contact-details">
                            <div class="modalHeader">
                                <div class="editRowModal">
                                    <div *ngIf="prescriptionView" class="modalHeader clearfix">
                                        <div class="modal-about contact-header">
                                            <div class="contact-details-img">
                                                <img src="../../../../assets/images/user/usrbig2.jpg" alt="avatar" />
                                            </div>
                                            <div class="contact-details-heading">
                                                <div class="contact-details-name mb-2">
                                                    {{ prescriptionView.pacient.name }}
                                                </div>
                                                <div class="badge col-yellow">
                                                    PACIENTE
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                            <hr />
                            <div *ngIf="prescriptionView" class="descripcion">
                                <div class="count-container">
                                    <div class="box">
                                        <h3>Paciente:</h3>
                                    </div>

                                    <div class="box">
                                        <p>{{ prescriptionView.pacient.name }}</p>
                                    </div>

                                    <div class="box">
                                        <h3>Doctor:</h3>
                                    </div>

                                    <div class="box">
                                        <p>{{ prescriptionView.doctor.name }}</p>
                                    </div>

                                    <div class="count-container"
                                        *ngFor="let medicament of medicamentsUser; let i = index">
                                        <div class="box">
                                            <h3>Medicamento {{i+1}}</h3>
                                        </div>
                                        <div class="box">
                                            <p>{{medicament.name}}</p>
                                        </div>
                                    </div>

                                    <div class="count-container"
                                        *ngFor="let laboratory of laboratoriesUser; let i = index">
                                        <div class="box">
                                            <h3>Laboratorio: {{i+1}}</h3>
                                        </div>
                                        <div class="box">
                                            <p>{{laboratory.name}}</p>
                                        </div>
                                    </div>

                                    <div *ngIf="prescriptionView.description" class="box">
                                        <h3>Descripcion:</h3>
                                    </div>

                                    <div *ngIf="prescriptionView.description" class="box">
                                        <p>{{ prescriptionView.description }}</p>
                                    </div>

                                    <div *ngIf="prescriptionView.AnotherMedicaments" class="box">
                                        <h3>Otros medicamentos:</h3>
                                    </div>

                                    <div *ngIf="prescriptionView.AnotherMedicaments" class="box">
                                        <p>{{ prescriptionView.AnotherMedicaments }}</p>
                                    </div>

                                    <div *ngIf="prescriptionView.AnotherLaboratories" class="box">
                                        <h3>Otros Laboratorios:</h3>
                                    </div>

                                    <div *ngIf="prescriptionView.AnotherLaboratories" class="box">
                                        <p>{{ prescriptionView.AnotherLaboratories }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ADD Laboratories-->
        <div class="modal fade" id="addPrescription" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-basic-title">
                            <i class="fa-solid fa-file-prescription"></i>
                            &nbsp;Agregar Receta
                        </h3>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="savePrescription(addPrescriptionForm)" #addPrescriptionForm="ngForm">
                            <div class="text-inside">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Paciente</mat-label>
                                    <input disabled autocomplete="off" [(ngModel)]="namePacient" name="pacient"
                                        matInput />

                                </mat-form-field>
                            </div>
                            <div class="text-inside">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Doctor</mat-label>
                                    <input disabled autocomplete="off" value="{{doctor.name}}" name="doctor" matInput />
                                </mat-form-field>
                            </div>
                            <div class="text-inside">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Descripción</mat-label>
                                    <textarea autocomplete="off" [(ngModel)]="prescription.description" name="description" matInput></textarea>
                                </mat-form-field>
                            </div>
                            <div class="text-inside">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Otros medicamentos</mat-label>
                                    <textarea autocomplete="off" [(ngModel)]="prescription.AnotherMedicaments" name="AnotherMedicaments" matInput></textarea>
                                </mat-form-field>
                            </div>
                            <div class="text-inside">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Otros Laboratorios</mat-label>
                                    <textarea autocomplete="off" [(ngModel)]="prescription.AnotherLaboratories" name="AnotherLaboratories" matInput></textarea>
                                </mat-form-field>
                            </div>
                            <hr />
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i> Descartar
                                </button>
                                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--CONTROL MEDICAMENTO-->
    <div class="modal fade" id="addMedicament" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-basic-title">
                        <i class="fa-solid fa-pills"></i>
                        &nbsp;Medicamentos
                    </h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="containCards">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="form">
                                    <i class="fa fa-search ms-2"></i>
                                    <input [(ngModel)]="medicamentPrescription" name="medicamentPrescription"
                                        type="text" class="form-control form-input" placeholder="Buscar Medicamento...">
                                </div>
                            </div>
                            <hr>
                            <section class="medicament" id="mySkills">
                                <div class="box-medicaments"
                                    *ngFor="let medicament of medicaments | searchMedicamentBar: medicamentPrescription">
                                    <div *ngFor="let medicamentOutPrescription of medicamentsOutPrescription">
                                        <div class="box-medicament"
                                            *ngIf="medicamentOutPrescription._id == medicament._id">
                                            <a (click)="addMedicament(medicament._id)">
                                                <div class="productMedicament">
                                                    <img class="img-Medicament" src="assets\images\home-pacient\64.png"
                                                        alt="">
                                                    <br>
                                                    <h3 class="card-title-Medicament">{{medicament.name}}
                                                    </h3>
                                                </div>
                                                <button type="submit" class="button-card-Medicament">Añadir</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div *ngFor="let medicamentInPrescription of medicamentsInPrescription">
                                        <div class="box-medicament"
                                            *ngIf="medicamentInPrescription._id == medicament._id">
                                            <a (click)="deleteMedicament(medicament._id)">
                                                <div class="productMedicament">
                                                    <img class="img-Medicament" src="assets\images\home-pacient\64.png"
                                                        alt="">
                                                    <br>
                                                    <h3 class="card-title-Medicament">{{medicament.name}}
                                                    </h3>
                                                </div>
                                                <button type="submit"
                                                    class="button-card-Medicament-Eliminar">Eliminar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--CONTROL LABORATORY-->
    <div class="modal fade" id="addLaboratory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-basic-title">
                        <i class="fa-solid fa-vial-virus"></i>
                        &nbsp;Laboratorios
                    </h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="containCards">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="form">
                                    <i class="fa fa-search ms-2"></i>
                                    <input [(ngModel)]="laboratorysPrescription" name="laboratorysPrescription"
                                        type="text" class="form-control form-input" placeholder="Buscar Medicamento...">
                                </div>
                            </div>
                            <hr>
                            <section class="medicament" id="mySkills">
                                <div class="box-medicaments"
                                    *ngFor="let laboratory of laboratories">
                                    <div *ngFor="let laboratoryOutPrescription of laboratorysOutPrescription">
                                        <div class="box-medicament"
                                            *ngIf="laboratoryOutPrescription._id == laboratory._id">
                                            <a (click)="addLaboratory(laboratory._id)">
                                                <div class="productMedicament">
                                                    <img class="img-Medicament" src="assets\images\home-pacient\64.png"
                                                        alt="">
                                                    <br>
                                                    <h3 class="card-title-Medicament">{{laboratory.typeLaboratory.name}}
                                                    </h3>
                                                </div>
                                                <button type="submit" class="button-card-Medicament">Añadir</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div *ngFor="let laboratoryInPrescription of laboratorysInPrescription">
                                        <div class="box-medicament"
                                            *ngIf="laboratoryInPrescription._id == laboratory._id">
                                            <a (click)="deleteLaboratory(laboratory._id)">
                                                <div class="productMedicament">
                                                    <img class="img-Medicament" src="assets\images\home-pacient\64.png"
                                                        alt="">
                                                    <br>
                                                    <h3 class="card-title-Medicament">{{laboratory.typeLaboratory.name}}
                                                    </h3>
                                                </div>
                                                <button type="submit"
                                                    class="button-card-Medicament-Eliminar">Eliminar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--UPDATE Laboratories-->
    <div class="modal fade" id="updatePrescription" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-basic-title">
                        <i class="fas fa-pencil" aria-hidden="true"></i>
                        &nbsp;Editar Receta
                    </h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="updatePrescriptionDoctor()" *ngIf="prescriptionUpdate">
                        <div class="text-inside">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Paciente</mat-label>
                                <mat-select disabled [(ngModel)]="prescriptionUpdate.pacient._id" name="pacient">
                                    <div *ngFor="let user of users">
                                        <mat-option *ngIf="user.role === 'PACIENTE'" value={{user._id}}>{{user.name}}
                                        </mat-option>
                                    </div>

                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="text-inside">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Doctor</mat-label>
                                <input disabled autocomplete="off" value="{{doctor.name}}" name="doctor" matInput />
                            </mat-form-field>
                        </div>
                        <div class="text-inside">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <input autocomplete="off" [(ngModel)]="prescriptionUpdate.description"
                                    name="description" matInput />
                            </mat-form-field>
                        </div>
                        <div class="text-inside">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Otros Medicamentos</mat-label>
                                <input autocomplete="off" [(ngModel)]="prescriptionUpdate.AnotherMedicaments"
                                    name="AnotherMedicaments" matInput />
                            </mat-form-field>
                        </div>
                        <div class="text-inside">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Otros Laboratorios</mat-label>
                                <input autocomplete="off" [(ngModel)]="prescriptionUpdate.AnotherLaboratories"
                                    name="AnotherLaboratories" matInput />
                            </mat-form-field>
                        </div>
                        <hr />
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fa fa-times-circle" aria-hidden="true"></i> Descartar
                            </button>
                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--TABLE Laboratories-->
    <div *ngIf="showTablePrescription" class="row clearfix mt-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="materialTableHeader mb-3">
                    <div class="row">
                        <div class="col-8">
                            <ul class="header-buttons-left ml-0">
                                <li class="dropdown">
                                    <div class="header">
                                        <h2>Tabla de Recetas</h2>
                                    </div>
                                </li>
                                <li class="dropdown m-l-20">
                                    <label for="search-input">
                                        <i class="material-icons search-icon">search</i>
                                    </label>
                                    <input [(ngModel)]="searchPrescription" placeholder="Search.." type="text" #filter
                                        class="browser-default search-field" aria-label="Search box" />
                                </li>
                                <li *ngIf="buttonActions">
                                    <div class="icon-button-demo m-l-10">
                                        <button (click)="deletePrescriptionDoctor(prescriptionDelete._id)" mat-mini-fab
                                            color="warn">
                                            <mat-icon class="col-white">delete
                                            </mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li *ngIf="buttonActions">
                                    <div class="icon-button-demo m-l-10">
                                        <button data-bs-toggle="modal" data-bs-target="#updatePrescription" mat-mini-fab
                                            class="colorUpdate" (click)="getMedicaments(); getLaboratories() ">
                                            <mat-icon class="col-white">edit
                                            </mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tableBody">
                    <div class="table-responsive">
                        <i *ngIf="" (click)="cleanTable()" class="fa fa-times-circle closeFilter" aria-hidden="true">
                        </i>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Foto</th>
                                    <th>Paciente</th>
                                    <th>Doctor</th>
                                    <th>Descripción</th>
                                    <th>Otros Medicamentos</th>
                                    <th>Otros Laboratorios</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prescription of prescriptions">
                                    <td (click)="getPrescriptionDoctor(prescription._id)">
                                        <mat-checkbox *ngIf="prescription.checked==true || controloClick==0"
                                            #check="matCheckbox"
                                            (click)="showButtonActions(prescription._id, check); getPrescriptionDoctor(prescription._id)"
                                            class="example-margin" color="primary">
                                        </mat-checkbox>
                                        <mat-checkbox disabled="" *ngIf="prescription.checked==false"
                                            class="example-margin" color="primary">
                                        </mat-checkbox>
                                        {{ prescriptions.indexOf(prescription) + 1 }}
                                    </td>
                                    <td (click)="getPrescriptionDoctor(prescription._id)" class="table-img">
                                        <img src="assets/images/user/user8.jpg" alt="" />
                                    </td>
                                    <td (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">{{ prescription.pacient.name }}</td>
                                    <td (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">{{ prescription.doctor.name }}</td>

                                    <td *ngIf="!prescription.description"
                                        (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">No hay descripcion</td>
                                    <td *ngIf="prescription.description"
                                        (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">{{prescription.description}}
                                    </td>
                                    <!-- OTRO MEDICAMENTO -->
                                    <td *ngIf="prescription.AnotherMedicaments"
                                        (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">{{ prescription.AnotherMedicaments }}</td>

                                    <td *ngIf="!prescription.AnotherMedicaments"
                                        (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">No hay otros Medicamentos</td>

                                    <!-- OTRO Laboratory -->
                                    <td *ngIf="!prescription.AnotherLaboratories"
                                        (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">No hay otros Laboratorios</td>
                                    <td *ngIf="prescription.AnotherLaboratories"
                                        (click)="getPrescriptionDoctor(prescription._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewPrescription">{{ prescription.AnotherLaboratories }}</td>
                                </tr>
                                <tr rowspan="9" *ngIf="notFound === true">
                                    <td colspan="9" class="text-center">Receta no encontrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 *ngIf="notFound === true && showTablePrescription === false" class="text-center">
        Receta no encontrado
    </h1>
</section>