<body>
    <section class="section-padding mt-5">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-4 mt-4">
                    <!--=======  product details slider area  =======-->
                    <div class="product-details-slider-area">
                        <div class="big-image-wrapper">
                            <swiper style="--swiper-navigation-color: #3D75F0;--swiper-pagination-color: #3D75F0"
                                [loop]="true" [spaceBetween]="5" [navigation]="true" [thumbs]="{ swiper: thumbsSwiper }"
                                class="mySwiper2">
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                            </swiper>
                            <swiper (swiper)="thumbsSwiper = $event" [loop]="true" [spaceBetween]="10"
                                [slidesPerView]="3" [freeMode]="true" [watchSlidesProgress]="true" class="mySwiper">
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                                <ng-template swiperSlide><img
                                        src="../../../../assets/pharmacy/assets/img/principal.png" />
                                </ng-template>
                            </swiper>
                        </div>
                    </div>
                    <!--======= End of product details slider area =======-->
                </div>
                <div class="col-lg-8 mt-4">
                    <div class="row pl-lg-3">
                        <div class="col-lg-7">
                            <div class="single-product-content-description">
                                <p class="single-info">Brands <a href="category.html">BrandName</a> </p>
                                <h4 class="product-title">BrandName Beginner's Protein, 2.2 lb, Cookies and Cream</h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span class="review-count ml-3">4.5 (2,213)</span>
                                </div>
                                <p class="single-grid-product__price"><span class="discounted-price">₹999</span> <span
                                        class="main-price discounted">₹1699</span></p>

                                <div class="single-info">
                                    <span class="d-block text-muted mb-2"><strong>SKU :</strong> MB5415</span>
                                    <span class="d-block text-muted mb-2"><strong>Category :</strong> Sports
                                        Nutrition</span>

                                    <span class="d-block text-muted mb-2"><strong>Availability :</strong> In
                                        Stock</span>
                                </div>


                                <div class="product-actions my-4 justify-content-between">
                                    <!-- Quantity -->
                                    <div class="qty-input btn">
                                        <i class="less">-</i>
                                        <input type="text" value="2" />
                                        <i class="more">+</i>
                                    </div>
                                    <!-- End Quantity -->
                                    <div class="product-buttons ml-0 ml-md-3 mt-4 mt-md-0 text-md-left text-center">
                                        <a class="btn btn-rounded btn-soft-primary mr-2" href="wishlist.html"> <i
                                                class="fa fa-heart"></i> Add To Wishlist</a>
                                        <a class="btn btn-rounded btn-primary" href="cart.html"> <i
                                                class="fa fa-shopping-cart"></i> Add To Cart</a>
                                    </div>

                                </div>
                                <div class="mb-4">
                                    <a href="checkout.html"
                                        class="btn btn-block btn-primary btn-pill transition-3d-hover">Buy
                                        Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mt-4 mt-lg-0">
                            <div class="bg-light p-3">
                                <h6>Delivery Options</h6>
                                <div class="media align-items-center">
                                    <span class="mr-2">
                                        <i class="ti-check text-primary small"></i>
                                    </span>
                                    <div class="media-body text-body small">
                                        <span class="font-weight-bold mr-1">Free Shipping</span>
                                    </div>
                                </div>
                                <div class="media align-items-center">
                                    <span class="mr-2">
                                        <i class="ti-check text-primary small"></i>
                                    </span>
                                    <div class="media-body text-body small">
                                        <span class="font-weight-bold mr-1"> Cash on Delivery Available</span>
                                    </div>
                                </div>
                                <div class="media align-items-center">
                                    <span class="mr-2">
                                        <i class="ti-check text-primary small"></i>
                                    </span>
                                    <div class="media-body text-body small">
                                        <span class="font-weight-bold mr-1"> 14 days Return</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-row-slider-area pt-7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 text-center mb-4">
                        <h2>Related Products</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider  arrow-light slider-gap" data-slides-to-show="6" data-autoplay="true"
                            data-nav="true" data-dots="false">
                            <div class="product">
                                <app-pharmacy-view-all></app-pharmacy-view-all>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>