<body>

        <main>
        <section class="pt-5 pt-md-7" style="min-height: 90vh;">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-8 order-md-2">
                        <div class="row">
                            <div *ngFor="let medicament of medicaments | searchMedicamentPipe: searchMedicament" class="col-md-4 col-sm-6 col-12 mt-4" >
                                <div class="product">
                                    <a [routerLink]="['/viewMedicament/' + medicament._id]" class="product-img">
                                        <img src="../../../../assets/pharmacy/assets/img/principal.png" class="" alt="">
                                    </a>
                                    <div class="product-info">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h3>
                                            <a [routerLink]="['/viewMedicament/' + medicament._id]"> {{medicament.name}}</a>
                                        </h3>
                                        <div class="product-value">
                                            <div class="d-flex">
                                                <small class="regular-price">{{medicament.description}}</small>
                                            </div>
                                            <div class="current-price">Q.{{medicament.price.toFixed(2)}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 *ngIf="notFound === true" class="text-center">Medicamento no encontrado</h1>
                    </div>
                    <div class="col-md-3 order-md-1">
                        <div class="sidebar-wrapper mt-5 mt-md-0">
                            <div class="sidebar-widget widget_categories">
                                <h6 class="widget-title">Buscar:</h6>
                                <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;"
                                    data-simplebar data-simplebar-auto-hide="false">
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <div class="form-input">
                                                <input [(ngModel)]="searchMedicament"  name="name" placeholder="Buscar...">
                                                <button type="submit" class="search-btn"><i class='fa fa-search'></i></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
</body>